/* .card{
    background-image: url(../Images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
} */

html, body{
    background-image: url(.././Images/bg3.jpg);
}

